@import url(http://fonts.googleapis.com/css?family=PT+Sans);

* {
  font-family: 'PT Sans', sans-serif; 
}

ul { 
  margin: 0;
}

header {
  .site-title {
    top: 0;
    left: -20em;
    margin: 0;
    padding: 1em 0 0;
    width: 100%;
    position: absolute;
    color: $text-icons;
    @include transition(all 2s $ease-out-quad);
    font-size: 1em;
    @include tablet {
      font-size: 2em;
      margin: 0;
    }
    @include desktop {
      font-size: 2em;
      margin: 0;
      padding: .25em 0 0 .5em;
    }
  }
  .show { 
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    @include transition(all 2s $ease-out-quad);
    @include tablet {
      font-size: 2em;
      padding: .25em 0 0 .5em;
    }
    @include desktop {
      font-size: 2em;
      padding: .25em 0 0 .5em;
    
  }
}
  nav li a {
    text-decoration: none;
    padding: 1em;
    font-size: 1em;
    color: $text-icons;
    &:hover {
      color: $accent;
    }
  } 
}

.welcome-message {
  font-size: 2em;
  padding: 0 .5em; 
  color: $text-icons;
  text-align: center;
  
  @include tablet {
    font-size: 2em;
  }
  @include desktop {
    font-size: 3em;
  }
  span {
    @include transition(all 1s $ease-out-quad);  
  }
}

.remove-text {
  @include transition(all 2s $ease-out-quad);
  color: transparent;
  font-size: .1em;
  margin-top: -40em;
}

.container { 
  h1.section-title {
    font-size: 2.5em; 
    margin: 0;
    color: $secondary-text;
    font-weight: 400;
    @include tablet {
      font-size: 3em;
    }
    @include desktop {
      font-size: 4em;
    }
  } 
}

.recent-work a {
  color: $text-icons;
  text-align: center;
  text-decoration: none;
  figcaption {
    font-size: 1.2em;
    padding: 1em;
    display: block;
    h2 {
      margin: 0;
      font-weight: 400;
    }
  }
}

.bio {
  padding: 0 10px 0 0;
  p {
  font-size: 1.2em;
  }
}

.contact-me {
  .success {
    font-size: 1.2em;
    color: $accent;
  }
  li label {
    color: $accent;
    font-size: .8em;
  }
  .help-block {
    color: $secondary-text;
    font-size: .8em;
  }
}

 

footer {
  text-align: center;
  font-size: 1em;
  color: $secondary-text;
}