
@mixin flexcontainer {
   display: -webkit-flex;
   display: flex;
}

@mixin dropshadow {
  box-shadow: 0 6px 3px 0 rgba(0,0,0,.5);
}

#wrap {
  position: relative;
  overflow: auto; 
  @include size(100% 100%);
}
 
header {
  @include flexcontainer;
  background: $primary;
  position: fixed;
  top: 0; 
  left: 0;
  @include size(100vw 60px);
  z-index: 999;
  padding: 0 1em;
  -webkit-flex-direction: row; 
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; 
  transition: .5s;  
  .fix-header & { 
    background: $dark-primary;
    @include dropshadow; 
    @include transition(all 1s $ease-out-quad); 
    top: 0; 
  }
  .site-title {
    flex: 1 60%;
  }
  nav {
    flex: 1 40%;
    ul {
      @include flexcontainer;
      -webkit-flex-direction: column;
      flex-direction: column; 
      flex-flow: column wrap;
      -webkit-flex-flow: column wrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
		  position: absolute;
		  padding: 20px 0;
		  background: $primary;
      right: -10em;
		  top: 59px;
      height: 100vh;
      box-shadow: 0 6px 3px 0 rgba(0,0,0,.5);
      text-align: center;
      list-style: none;
      @include transition(all 2s $ease-out-quad);
      li a {
        padding: 1em;
        display: block;
      }
      @include desktop {
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row; 
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        position: relative;
        background: none;
        top: auto;
        right: auto;
        width: 100%;
        padding: 0;
        height: 60px;
        border: none;
        box-shadow: none;
      }
      &.show-nav {
        right: 0;
        width: 40%;
        @include transition(all 2s $ease-out-quad);
        li a:hover, li a:active {
          background-color: $accent;
          color: $dark-primary;
        }
      }
    }

#nav-toggle { 
  cursor: pointer; 
  padding: 1.5em 1.5em 0 0;
  float: right;
  align-self: flex-end;
  @include desktop {
    display: none; 
  }
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px; 
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
} 
  }
}

.welcome-message {
  position: relative;  
  @include flexcontainer;
  @include dropshadow;
  background: $primary;
  @include size(100vw 90vh);
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  @include tablet {
    margin-bottom: 2em;
  }
  @include desktop {
    margin-bottom: 2em;
  }
}

.container {
  @include flexcontainer;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 1em;
  .section-title {
    flex: 1 100%;
  }
}

section {
  &.about {
    background: $light-primary;
    @include dropshadow;
  }
}

.recent-work {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  @include flexcontainer;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  li {
    flex: 0 0 100%;
    @include desktop {
      flex: 0 0 24%;
    }
    a {
      display: block;
      margin: 1em;
      &:hover, &:active {
        color: $accent;
      }
      img {
       //increase if you have very small images  zoom: 2;  
        display: block;
        margin: auto;
        height: 40vh;
        max-height: 40vh;
        width: auto;
        max-width: 100%;
      }
      figure {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 5;
        .filter-icon {
            position: absolute;
            top: .5em;
            right: .5em;
            width: 1.5em;
            height: 1.5em;
            fill: $accent;
        }
        figcaption {
          background: $dark-primary;
          font-size: 1em;
        }
      }
    }
  }
}

.about {
  .bio {
    flex: 1 60%; 
  }
  img {
    flex: 1 40%;  
  }

}

.contact {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  ul {
    list-style: none;
    padding: 0;
    margin: 0; 
  }
}


.contact-me {
  margin: 0 1em;
  flex: 1 100%;
  @include tablet {
    flex: 1 100%; 
  }
  @include desktop {
    flex: 1 30%;
  }
  li {
    position: relative;
    padding: 1.5em 0 0;
    margin: 0 1em; 
    input, textarea {
      background: #fff;
      z-index: 2;
      position: relative;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $accent;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    textarea {
      height: 6em;
    }
    label {
      z-index: 1;
      transition: // not padding
      background 0.2s,
      color 0.2s,
      top 0.2s,
      bottom 0.2s,
      right 0.2s,
      left 0.2s;
      position: absolute; 
      top: 2em;
      left: 0;
    }
    input:focus + label, textarea:focus + label {
      top: 5px; 
    }
    &:nth-child(4) {
      text-align: center;
    }
    #submit { 
      text-align: center;
      width: auto;
      background-color: $accent;
//      box-shadow: 1px 3px 5px 0 rgba(0,0,0,.3);
      border: none;
      padding: .5em 3em; 
      box-shadow: 0 2px 5px 1px rgba(#000, 0.2);
      transition: all 0.25s cubic-bezier(.20,.70,.40,1);
      &.clicked {
        box-shadow: 0 5px 10px 2px rgba(#000, 0.3);
      }
    }
    
  }
}

.social {
  flex: 2 50%;
  h2 {
   text-align: center;
  }
  ul {
    @include flexcontainer;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    li a {
      @include hide-text;
      display: block;
      height: 4em;
      width: 4em; 
      margin: 0 .5em;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      &#github { background-image: url(../img/github.svg);}
      &#linkedin { background-image: url(../img/linkedin.svg);}
      &#wordpress { background-image: url(../img/wordpress.svg);}
    }
  }
}

footer {
  padding: 1em 0;
}


/* LIGHTBOX STYLES*/
/*Lightbox element style*/
.lb_backdrop {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	z-index: 9997; 
	top: 0; left: 0; right: 0; bottom: 0;
}
/*The canvas contains the larger image*/
.lb_canvas {
	background: white;
	width: 50px; 
  height: 50px;
	position: fixed;
	z-index: 9998;
	top: 0; left: 0; /*Will be centered later by Jquery*/
	box-shadow: 0 0 20px 5px black;
//	padding: 10px;
}
/*A separate class for loading GIF, for easy Jquery handling*/
.lb_canvas.loading {
	background: white url("http://thecodeplayer.com/uploads/media/loading.gif") center center no-repeat;
}
/*Lightbox Controls*/
.lb_controls {
	width: 40%;  
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 9999;
	bottom: 10px;
	color: $accent;
	/*To horizontally center it*/
	left: 0; 
	right: 0; 
	margin: 0 auto; 
}
.lb_controls span {
	line-height: 30px;
	height: 30px;
}
.lb_controls span.inactive {
	opacity: 0.25;
}
.lb_previous, .lb_next {
	position: absolute;
	top: 0;
	padding: 5px 12px;
	font-family: websymbols;
	font-size: 14px;
	background: black;
	cursor: pointer;
}
.lb_previous {
	left: 0;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.lb_next {
	right: 0;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.lb_title {
	text-align: center;
	display: block;
	font-size: 14px;
	padding: 5px 0;
}

.lb_title a {
	color: $accent;
	text-decoration: none;
}

.lb_title a:hover {
	text-decoration: underline;
}
