@import url(http://fonts.googleapis.com/css?family=PT+Sans);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: 'PT Sans', sans-serif; }

header .site-title {
  margin: 0; }
header nav li a {
  text-decoration: none;
  padding: 1em;
  font-size: 1.2em;
  color: #fff; }
  header nav li a:hover {
    color: #cddc39; }

.welcome-message {
  font-size: 3em;
  padding: 0 .5em;
  color: #fff;
  text-align: center; }

.container h1.section-title {
  font-size: 4em;
  margin: 0;
  color: #727272;
  font-weight: 400; }

.recent-work a {
  color: #fff;
  text-align: center;
  text-decoration: none; }
  .recent-work a figcaption {
    font-size: 1.2em;
    padding: 1em;
    display: block; }
    .recent-work a figcaption h2 {
      margin: 0;
      font-weight: 400; }

.contact-me li label {
  color: #cddc39;
  font-size: .8em; }

footer {
  text-align: center;
  font-size: 1em;
  color: #727272; }

#wrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: auto; }

header {
  display: -webkit-flex;
  display: flex;
  background: #009688;
  position: fixed;
  top: -60px;
  left: 0;
  height: 60px;
  width: 100vw;
  z-index: 999;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  transition: 1s; }
  .fix-header header {
    background: #00796b;
    box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    top: 0; }
  header .site-title {
    flex: 1 50%; }
  header nav {
    flex: 1 50%; }
    header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      list-style: none; }

.welcome-message {
  position: relative;
  margin-bottom: 2em;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.5);
  background: #009688;
  height: 90vh;
  width: 100vw;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center; }

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 1em; }
  .container .section-title {
    flex: 1 100%; }

section.about {
  background: #b2dfdb;
  box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.5); }

.recent-work {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center; }
  .recent-work li a {
    display: block;
    margin: 1em;
    width: 20vw; }
    .recent-work li a img {
      height: 20vw;
      width: 20vw;
      display: block; }
    .recent-work li a figure {
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 5; }
      .recent-work li a figure::before {
        position: absolute;
        content: "";
        background-position: 0 0;
        top: .5em;
        right: .5em;
        width: 1.5em;
        height: 1.5em; }
      .recent-work li a figure figcaption {
        background: #00796b; }

li.web figure::before {
  background-color: #cddc39; }

li.infographic figure::before {
  background-color: #009688; }

li.design figure::before {
  background-color: #b6b6b6; }

.about p {
  flex: 2 60%; }
.about img {
  flex: 1 40%; }

.contact {
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .contact ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.contact-me {
  margin: 0 1em;
  flex: 1 30%; }
  .contact-me li {
    position: relative;
    padding: 1.5em 0 0;
    margin: 0 1em; }
    .contact-me li input, .contact-me li textarea {
      background: #fff;
      z-index: 2;
      position: relative;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #cddc39;
      width: 100%; }
      .contact-me li input:focus, .contact-me li textarea:focus {
        outline: none; }
    .contact-me li textarea {
      height: 6em; }
    .contact-me li label {
      z-index: 1;
      transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
      position: absolute;
      top: 2em;
      left: 0; }
    .contact-me li input:focus + label, .contact-me li textarea:focus + label {
      top: 5px; }
    .contact-me li:nth-child(4) {
      text-align: center; }
    .contact-me li #submit {
      text-align: center;
      width: auto;
      background-color: #cddc39;
      border: none;
      padding: .5em 3em;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
      transition: all 0.25s cubic-bezier(0.2, 0.7, 0.4, 1); }
      .contact-me li #submit.clicked {
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3); }

.social {
  flex: 2 50%; }
  .social h2 {
    text-align: center; }
  .social ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center; }
    .social ul li a {
      overflow: hidden;
      display: block;
      height: 4em;
      width: 4em;
      margin: 0 .5em;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain; }
      .social ul li a:before {
        content: "";
        display: block;
        width: 0;
        height: 100%; }
      .social ul li a#github {
        background-image: url(../img/github.svg); }
      .social ul li a#linkedin {
        background-image: url(../img/linkedin.svg); }
      .social ul li a#wordpress {
        background-image: url(../img/wordpress.svg); }

footer {
  padding: 1em 0; }

/*# sourceMappingURL=main.css.map */
